<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action = 'hello' method = 'post'>
    <input type = 'text' name = 'name'>
    <label for = 'language-select'>Select a language:</label>
    <select name = 'languages' id = 'language-select'>
        <option value = 'English'>English</option>
        <option value = 'French'>French</option>
        <option value = 'Spanish'>Spanish</option>
        <option value = 'Italian'>Italian</option>
        <option value = 'Chinese'>Chinese</option>
        <option value = 'German'>German</option>
        </select>
    <input type = 'submit' value = 'Greet me!'>
    </form>

</body>
</html>